@use '@angular/material' as mat;
@use "tailwindcss";

.container {
  @apply mx-auto max-w-screen-2xl px-6;
}

.text-primary {
  @apply text-blue-700;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides(
    (
      filled-container-shape: '6px',
      outlined-container-shape: '6px',
    )
  );
  @include mat.badge-overrides(
    (
      background-color: blue,
    )
  );
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.snack-error {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: red,
      supporting-text-color: white,
    )
  );
}

.snack-success {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: green,
      supporting-text-color: white,
    )
  );
}
